@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


html {
  background: #ffdfe2;
  font-family: 'Play', sans-serif;
}
h2{
    font-family: 'Caveat', cursive;
    font-weight: 800;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

li {
    list-style-type: none;
    margin-left: 10px;
}

.pomnu {
 color: #2a7a21;
}

.hochu {
   color: #e71e42;
}



button{
    margin-left: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Caveat', cursive;
    font-size: large;
    background: #14cfb6;
    border-style: none;
    border-radius: 20px;
}

img{
    margin-left: 20%;
}